<section id="me">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About me</h2>
        <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <div class="team-member">
          <img src="img/me.jpg" class="img-responsive img-circle" alt="">
          <!-- <h4>Lucas Munhoz</h4>
          <p class="text-muted"></p> -->
          <!-- <ul class="list-inline social-buttons">
            <li>
              <a href="http://twitter.com/lnmunhoz" target="blank">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="http://github.com/lnmunhoz" target="blank">
                <i class="fa fa-github"></i>
              </a>
            </li>
            <li>
              <a href="https://linkedin.com/in/lucasnmunhoz" target="blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul> -->
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">

        <p>
          Hi! My name is Lucas and I am a Full-Stack developer based in Brazil.
          I started my Computer Science degree in 2012 and got my first job as VB developer
          in that time, I didn't know much about computers, I was just having a lot o fun with them.
          Few months later I started to work with .NET with an very engaded team, they were my mentors
          in that time I discovered JavaScript, and a new passion. In my free time I was always looking
          for open source projects to contribute and trying to understand people's code, it was a lot information
          for me and I started </p>
      </div>
    </div>

  </div>
</section>
