<!-- About Section -->
<section id="experience">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Experience</h2>
        <h3 class="section-subheading text-muted">Some of the companies that I worked in the past.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/arcnet.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Arcnet Development</h4>
                <h4 class="subheading">Apr 2013 ~ Nov 2014</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Arcnet is a software house with focus on bakery automation. In my
                  role I developed a web platform for products management and created
                  APIs to communicate with the desktop applications.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/nfeio.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>NFe.io</h4>
                <h4 class="subheading">Dec 2014 ~ Aug 2015</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">NFe.io is as SaaS platform for issue invoices
                  in Brazil through a simple API. In my role, I created new integrations
                  for the API with the city halls web services and developed a customer
                  friendly dashboard for data visualization, secret keys management and
                  many other features.
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/fazinova.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>FazINOVA</h4>
                <h4 class="subheading">Aug 2015 ~ Nov 2015</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  FazInova is a private business school to empower entrepreneurs. In my role
                  I maintain the many websites that promotes the courses and created a
                  project to people share their ideas and vote in the best ones. The most
                  voted projects were presented in the Bel Pesce Tour for thousands of
                  people.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/js-2.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Freelance Software Engineer</h4>
                <h4 class="subheading">Nov 2015 ~ Until now</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Now days I am working remotely for many companies doing
                  services related to JavaScript and Meteor. You can check my
                  last works related to this position in the portfolio section.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
                <h4>Your
                <br>Company
                <br> ?
              </h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
