<footer class="site-footer">

  <div class="wrapper">

    <!--<h2 class="footer-heading">{{ site.title | escape }}</h2>-->

    <div class="footer-col-wrapper">
      <div class="footer--centered">
        {% include footer__copyright.html %}

        <ul class="social-media-list">
          {% if site.github_username %}
          <li class="social-media-list__item">
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li class="social-media-list__item">
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

            <li class="social-media-list__item">
              {% include icon-linkedin.html %}
          </li>

        </ul>
      </div>

      <!--<div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>-->
    </div>

  </div>

</footer>
