header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url('{{ site.baseurl }}/img/header-bg-21.jpg');
    background-color: var(--color-dark-green);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: {{ site.data.template.font.secondary }};
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    color: white;
    /*text-shadow: 0px 0px 10px;*/
    margin-bottom: 25px;
    /*text-transform: uppercase;*/
    font-family: {{ site.data.template.font.primary }};
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    transition: all 0.2s ease;
}

header .intro-text .intro-heading.intro-heading-below {
  font-size: 29px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: {{ site.data.template.font.secondary }};
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        /*text-transform: uppercase;*/
        font-family: {{ site.data.template.font.primary }};
        font-size: 75px;
        font-weight: 700;
        line-height: 45px;
    }

    header .intro-text .intro-heading.intro-heading-below {
      font-size: 45px;
    }
}
