--- 
layout: default 
---
<article class="hire-me">
  <div class="me">
    <img class="picture" src="https://avatars3.githubusercontent.com/u/4376835?v=3&s=460" alt="This is me!">
    <h1>Hi! I'm Lucas Munhoz.</h1>
  </div>
  {{ content }}
  <p>
    You can find me at
    <a href="https://github.com/lnmunhoz" target="blank">Github</a>,
    <a href="http://twitter.com/lnmunhoz" target="blank">Twitter</a>,
    <a href="https://www.linkedin.com/in/lucasnmunhoz" target="blank">Linkedin</a> or some cafeteria in São Paulo ;)
  </p>
  <div class="contact">
    <p>
      Have a project idea in mind?
      <a class="button" href="mailto:ln.munhoz@gmail.com">Shoot me an email!</a>
    </p>
  </div>
</article>
