---
layout: page
---

<div id="me">


  <div class="avatar-wrapper">
    <img class="avatar" src="/img/me.jpeg" />
  </div>

  <p>
   {{site.description}}
  </p>

  <ul style="list-style: none; margin-left: 0px;"> 
    <li style="margin: 4px 0px;">Currently I'm a <b>part-time software engineer</b> at <a href="http://envisioning.io">@envisioning</a></li>
    <li style="margin: 4px 0px;">I <b>help other developers</b> with <a href="https://www.codementor.io/lnmunhoz">mentorship at Codementor</a></li>
    <li style="margin: 4px 0px;">And I'm a <b>freelancer</b> at <a href="https://www.toptal.com/resume/lucas-nogueira-munhoz">Toptal</a></li>
  </p>

  </ul>
  <p>
    
  </p>



  <div class="">
    {% include contact_btn.html %}
  </div>
</div>

