{% include css/bootstrap.min.css %}
{% include css/agency.css %}
{% include css/nav.css %}
{% include css/header.css %}
{% include css/about.css %}
{% include css/portfolio.css %}
{{ content }}

.cursor {
  color: white;
  animation: blink 1s infinite;
  &:before {
    content: "|";
  }
}

@keyframes typing {
  0% {
    width: 0;
    opacity: 1;
  }
  90%{
    width: 100;
    opacity: 1;
  }
  100% {
    width: 100;
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

.arrows {
  width: 60px;
  height: 72px;
}

.arrows path {
  cursor: pointer;
  stroke: white;
  fill: transparent;
  stroke-width: 2px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

@-webkit-keyframes arrow {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}
